html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
}

* {
    user-select: none;
    transition: opacity .3s,
                height .3s,
                width .3s,
                top .3s,
                left .3s,
                right .3s,
                bottom .3s, 
                border .3s,
                color .3s;
}

input {
    outline: none;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opacityAni {
    animation: opacityAni .3s forwards;
}

.blurAni {
    animation: opacityAni .3s forwards;
}

.layer {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 40px;
    left: 0;
    background-color: transparent;
    z-index: 2000;
}

.layer-hidden {
    animation: layer-hidden .3s forwards;
}
@keyframes layer-hidden {
    0% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.fixBox-show {
    animation-name: fixBox-show;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    transform: translateX(250%);
}

@keyframes fixBox-show {
    0% {
        transform: translateX(250%);
    }
    100% {
        transform: translateX(0%);
    }
}

.fixbox-hidden {
    animation-name: fixBox-hidden;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes fixBox-hidden {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(250%);
    }
}

.touch-item {
    &:hover {
        background-color: rgba(54, 52, 53, .8);
        transition: background-color .2s;
    }
}

.vc-saturation-pointer, .vc-hue-pointer, .vc-alpha-pointer {
    transition: top 0s,
                left 0s;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
	width: 4px;
	height: 4px;
	background-color: #F5F5F5;
}
 
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}
 
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

@keyframes opacityAni {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blurAni {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(5px);
    }
}

@keyframes comeInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes comeOutRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes comeInBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes comeOutBottom {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

.ltMove {
    animation: ltMove 3s infinite;
}

@keyframes ltMove {
    0% {
        transform: translateY(0);
        box-shadow: 0px 0px 5px grey;
    }
    25% {
        transform: translateY(-10%);
        box-shadow: 5px 5px 10px grey;
    }
    50% {
        transform: translateY(0%);
        box-shadow: 0px 0px 5px grey;
    }
    75% {
        transform: translateY(10%);
        box-shadow: 5px 5px 10px grey;
    }
    100% {
        transform: translateY(0%);
        box-shadow: 0px 0px 5px #ccc;
    }
}


.boxShow {
    animation: boxShow .3s forwards ease-out;
}
@keyframes boxShow {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}